@use "variables";


.container {
    h2 {
        color: #41ff70;
    }

    p {
        color: #adff87;
    }
}

.container-secundario {
    h2 {
        color: wheat;
    }

    p {
        color: wheat;
    }
}