@use "variables";
@use "anidacion";

body {
  background-color: variables.$color-primario;
}


@mixin caja_personalizada($fondo: white, $color: variables.$color-secundario) {
    background-color: $fondo;
     padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px
}

.container-secundario {
    @include caja_personalizada(variables.$color-secundario);
}


.container {
    @include caja_personalizada(variables.$color-secundario);
}